
@*@model WhatYouNeed.Web.Areas.Admin.Models.GenerateCardParamsModel*@
@model TnTPrepaidCard.Lib.Model.GenerateCardParamsModel


<div class="card">
    @using (Html.BeginForm("DoGenerateNewCards", "PrepaidCard", FormMethod.Post, new { area = "Admin", role = "form", id = "formNewCards" }))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="card-header">
            [[[Generate Cards]]]
            <button class="btn btn-primary  btn-sm pull-right" type="submit" disabled ><i class="fa fa-save"></i> [[[Generate]]]</button>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col col-md-4">
                    <div class="form-group">
                        <div class="mark">
                            <label>[[[Last Batch Number]]]  :  </label>
                            @Html.DisplayFor(m => m.LastNumLot, new { @class = "form-control" })
                            @Html.HiddenFor(x => x.LastNumLot)
                        </div>
                       
                    </div>
                </div>

                <div class="col col-md-4">
                    <div class="form-group">
                        <div class="mark">
                            <label>[[[Last Serial Number]]]  :  </label>
                            @Html.DisplayFor(m => m.LastNumSerie, new { @class = "form-control" })
                            @Html.HiddenFor(x => x.LastNumSerie)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-4">
                    <div class="form-group">
                        <div class="mark">
                            <label>[[[New Batch Number]]] </label>
                            @Html.TextBoxFor(m => m.NumLot, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col col-md-4">
                    <div class="form-group">
                        <label>[[[Number Cards to create]]] </label>
                        @Html.TextBoxFor(m => m.NbCards, new { @class = "form-control" })
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col col-md-4">
                    <div class="form-group">
                        <label class="mark" for="DateGeneration">[[[Date de Generation]]]  :  </label>
                        @Html.TextBoxFor(m => m.DateGeneration, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col col-md-4">
                    <div class="form-group">
                        <label class="mark" for="DateFinValidite">[[[Date de Fin de Validite]]]  :  </label>
                        @Html.TextBoxFor(m => m.DateFinValidite, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group text-center">
                    <label class="cr-styled">
                        <input type="radio" name="IsActif" enabled="false" selected id="cardActif" />
                        @*@Html.RadioButtonFor(m => m.IsActif, Model.IsActif, new { id = "cardActif" })*@
                        <i class="fa"></i> [[[Cards actives]]]
                    </label> <i class="fa fa-female"></i>

                    <label class="cr-styled">
                        <input type="radio" name="IsActif" enabled="false" id="cardNotActif" />
                        <i class="fa"></i> [[[Cards not actives]]]
                    </label> <i class="fa fa-female"></i>
                </div>

            </div>
        </div>

    }
</div>


