@model WhatYouNeed.Web.Models.RegisterViewModel
@{
    /**/

    /**/
    ViewBag.Title = "[[[Register]]]";
}

@section Styles {

    <link href="~/Content/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
    <link href="~/Content/jsTree/themes/default/style.min.css" rel="stylesheet" />

    <style type="text/css">
        .field-validation-error {
            color: #ff0000;
            display: block;
        }
    </style>
}


<!-- Start Main Content -->
<div class=" main-section" style="background-color:#EAF4D3">
    <div class="container" style="background-color:#EAF4D3">
        <div class="row mt-1">
            <div class="col-md-2  d-none d-md-inline">
                <img src="@ImageHelper.GetCommunityImagePath("LogoTnTcom_150x184", "png"))" style="display: block;" />
            </div>
            <div class="col-md-9">
                <div class="card border-success" id="divPubRegisterHaut">
                    <img src="@ImageHelper.GetCommunityImagePubsPath("pub_Register_Haut_800x200_Img1", "png"))" style="display: block;" pubHaut />
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12 mx-auto ">
                <div class="card border border-success mrg-t">
                    <div class="card-header bdr-b" style="text-align:center;">
                        <h4>[[[Create an account Particulier]]]</h4>
                    </div>
                    <div class="card-body">

                        @if (CacheHelper.Settings.AgreementRequired)
                        {
                            <div id="agreementModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="agreementModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title" id="agreementModalLabel">[[[Agreement]]]</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h4>@CacheHelper.Settings.AgreementLabel</h4>
                                            <p><div>@Html.Raw(ViewBag.WordHtml)</div></p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">[[[Close]]]</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form", id = "form0", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                            @*<div id="idBtnType" class="btn-group d-flex " data-toggle="buttons">
                                <label class="btn btn-success btn-lg active w-50">
                                    @Html.RadioButtonFor(x => x.UserType, 0, new { id = "optPart", @checked = true }) [[[Personal]]]
                                </label>
                                <label class="btn btn-success btn-lg w-50">
                                    @Html.RadioButtonFor(x => x.UserType, 2, new { id = "optPro" })  [[[Professional]]]
                                </label>
                                <div>
                                    @Html.ValidationMessageFor(x => x.UserType)

                                </div>

                            </div>*@

                            <div class="card-block">
                                <div class="form-group">
                                    <label for="Email">[[[Email]]] <span class="text-red">*</span></label>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg", @placeholder = "[[[Enter email]]]" })
                                    @Html.ValidationMessageFor(x => x.Email)
                                </div>
                                <div class="form-group">
                                    <label for="Password">[[[Password]]] <span class="text-red">*</span></label>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", @placeholder = "[[[Password]]]" })
                                    @Html.ValidationMessageFor(x => x.Password)
                                </div>
                                <div class="form-group">
                                    <label for="ConfirmPassword">[[[Confirm Password]]] <span class="text-red">*</span></label>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-lg", @placeholder = "[[[Confirm Password]]]" })
                                    @Html.ValidationMessageFor(x => x.ConfirmPassword)
                                </div>
                            </div>

                            <div class="card-footer " style="text-align:center">
                                @if (CacheHelper.Settings.AgreementRequired)
                                {
                                    <div class="form-group ml-3">
                                        @Html.CheckBoxFor(x => x.TermsAndConditions)
                                        @Html.LabelFor(x => x.TermsAndConditions)
                                        @Html.ValidationMessageFor(x => x.TermsAndConditions)
                                        <div>
                                            <a id="agreementModal" data-toggle="modal" data-target="#agreementModal" class="text-blue font-weight-bold" href="#"> [[[Terms & Conditions]]]</a>
                                        </div>
                                    </div>
                                }
                                <input type="submit" class="btn btn-success btn-lg w-100 " value="[[[Join]]]">
                                <div><span>[[[Already a member?]]] <a href="@Url.Action("Login", "Account")">[[[Login]]]</a></span></div>
                            </div>

                        }
                    </div>
                </div>
            </div>

