@using WhatYouNeed.Web.Models
@model LoginViewModel

@{
    ViewBag.Title = "[[[Login]]]";
}

@section Styles {

}



<div class="main-section" style="background-color:#EAF4D3">
    <div class="container" >
        <div class="row mt-1">
            <div class="col-md-2  d-none d-md-inline">
                <img src="@ImageHelper.GetCommunityImagePath("LogoTnTcom_150x184", "png"))" style="display: block;"  />
            </div>
            <div class="col-md-9">
                <div class="card border-success" id="divPubRegisterHaut">
                    <img src="@ImageHelper.GetCommunityImagePubsPath("pub_Register_Haut_800x200_Img1","png"))" style="display: block;" pubHaut />
                    @*@{
                        for (int iH = 2; iH <= @ImageHelper.GetMaxNbforPub("pub_Register_Haut_800x200_Img"); iH++)
                        {
                            <img src="@ImageHelper.GetCommunityImagePubsPath("pub_Register_Haut_800x200_Img" + iH)" style="display: none;" pubHaut />
                        }
                    }*@

                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">
                <div class="card " id="divPubRegisterGauche">
                    <img src="@ImageHelper.GetCommunityImagePubsPath("pub_Register_Gauche_250x350_Img1", "png"))" style="display: block;" pubgauche />
                    @*@{
                        for (int iG = 2; iG <= @ImageHelper.GetMaxNbforPub("pub_Register_Gauche_250x350_Img"); iG++)
                        {
                            <img src="@ImageHelper.GetCommunityImagePubsPath("pub_Register_Gauche_250x350_Img" + iG)" style="display: none;" pubgauche />
                        }
                    }*@

                </div>
            </div>
            <div class="col-md-6 mx-auto">
                <div class="card border border-success mrg-t ">
                    <div class="card-header bdr-b text-center">
                        <h4>[[[Login to your account]]]</h4>
                    </div>

                    <div class="card-body">
                        @using (Html.BeginForm("Login", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { area = "", role = "form", id = "loginForm" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                <label for="Email">@Html.LabelFor(m => m.Email) <span class="text-red">*</span></label>
                                <input class="form-control input-lg" id="Email" name="Email" placeholder="[[[Enter Email]]]" type="text" value="" data-rule-email="email" data-rule-required="true">
                            </div>
                            <div class="form-group">
                                <label for="Password">@Html.LabelFor(m => m.Password) <span class="text-red">*</span></label>
                                <input class="form-control input-lg" id="Password" name="Password" placeholder="[[[Password]]]" type="password" data-rule-required="true">
                            </div>
                            <div class="form-group">
                                <input type="checkbox" id="RememberMe" name="RememberMe" value="true" />
                                <label for="RememberMe">[[[Remember me?]]]</label>
                            </div>
                            <button type="submit" class="btn btn-success btn-lg w-100 ">[[[Let me in]]]</button>
                        }

                    </div>
                    <div class="card-footer ">
                        @Html.ActionLink("[[[Register as a new user]]]", "Register")
                        <br />
                        @Html.ActionLink("[[[Forgot your password?]]]", "ForgotPassword")
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" id="divPubRegisterDroite">
                    <img src="@ImageHelper.GetCommunityImagePubsPath("pub_Register_Droite_250x350_Img1", "png"))" style="display: block;" pubdroite />
                    @*@{
                        for (int iD = 2; iD <= @ImageHelper.GetMaxNbforPub("pub_Register_Droite_250x350_Img"); iD++)
                        {
                            <img src="@ImageHelper.GetCommunityImagePubsPath("pub_Register_Droite_250x350_Img" + iD)" style="display: none;" pubdroite />
                        }
                    }*@
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
 
}