@model WhatYouNeed.Web.Models.ProShopModel


@section Styles {

    <link href="~/Content/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
    <link href="~/Content/jsTree/themes/default/style.min.css" rel="stylesheet" />
}

<div class="container-fluid" style="background-color:#EAF4D3">
    <div class="mx-auto col-md-12">
        <div class="card">
            <div class="card-header text-center">
                <h4 class="font-weight-bold display-4 text-center">
                    @Html.DisplayFor(m => m.UserAddInf.ProCompany, new { @class = "form-control" })
                </h4>
                @*Faut que soit sont annonce aussi, pas a celle d un autre PRO !*@
                @if (User.IsInRole("Professional") && (User.Identity.User().Id == @Model.UserPro.Id))
                {
                    <a id="btnEdit" class="btn btn-primary pull-right" href="@Url.Action("ProIdentityUpdate", "UserPro", new { area = "Pro" })"><i class="fa fa-edit"></i> [[[Update]]]</a>
                }
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col col-md-3">
                        <div class="align-self-baseline m-t-30">
                            <img class="img-fluid" style="width: 100%; height: auto" src="@Model.Pictures.First().Url" />
                        </div>
                    </div>
                    <div class="col col-md-9 align-self-center text-md font-weight-bold">
                        @*<h3 class="font-weight-bold display-4 text-center">
                            @Html.DisplayFor(m => m.UserAddInf.ProCompany, new { @class = "form-control" })
                        </h3>*@
                        <div class="form-group">
                            <div class="mark">
                                <label class="" for="ProAdress">[[[Adress]]] : </label>
                                @Html.DisplayFor(m => m.UserAddInf.ProAdress, new { @class = "form-control" })
                            </div>
                            <div class="mark">
                                <label class="" for="ProTownZip">[[[City]]] : </label>
                                @Html.DisplayFor(m => m.UserAddInf.ProTownZip, new { @class = "form-control" })
                            </div>
                            <div class="mark">
                                <label>[[[Siret Number]]] : </label>
                                @Html.DisplayFor(m => m.UserAddInf.ProSiret, new { @class = "form-control" })
                            </div>
                            <div class="mark">
                                <label class="" for="ProPhone">[[[Professional Phone]]] : </label>
                                @Html.DisplayFor(m => m.UserAddInf.ProPhone, new { @class = "form-control" })
                            </div>
                            <div class="mark">
                                <label class="" for="Email">[[[Company Email]]] : </label>
                                @Html.DisplayFor(m => m.UserAddInf.ProEmail, new { @class = "form-control" })
                            </div>
                            <div class="mark">
                                <label for="ProSiteWeb">[[[Web Site]]] : </label>
                                @Html.DisplayFor(m => m.UserAddInf.ProSiteWeb, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col col-md-7 ">
                        <div>
                            <h5>
                                [[[Company Contact]]]
                            </h5>
                            <div class="mark ">
                                <label class="mark">
                                    <input type="radio" name="Gender" id="GenderM" value="M" @(Model.UserPro.Gender == "M" ? "checked" : "") @(Model.UserPro.Gender == "F" ? "disabled" : "") />
                                    <i class="fa"></i> [[[Male]]]
                                </label> <i class="fa fa-male"></i>
                                <label class="mark">
                                    <input type="radio" name="Gender" id="GenderF" value="F" @(Model.UserPro.Gender == "F" ? "checked" : "") @(Model.UserPro.Gender == "M" ? "disabled" : "") /> <i class="fa"></i> [[[Female]]]
                                </label> <i class="fa fa-female"></i>
                            </div>
                            <div class="mark">
                                <label for="FirstName">[[[First Name]]] : </label>
                                @Html.DisplayFor(m => m.UserPro.FirstName, new { @class = "form-control" })
                            </div>
                            <div class="mark">
                                <label for="LastName">[[[Last Name]]] : </label>
                                @Html.DisplayFor(m => m.UserPro.LastName, new { @class = "form-control" })
                            </div>
                            <div class="mark">
                                <label for="PhoneNumber">[[[Phone Number]]] : </label>
                                @Html.DisplayFor(m => m.UserPro.PhoneNumber, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-4">
                        <div>
                            <h5>[[[Categories]]] </h5>
                            <div class="shadow-lg p-3  bg-white rounded">
                                <div class="card border border-info mark font-weight-bold">
                                    @Html.DisplayFor(m => m.CategoriesText, new { @class = "form-control" })
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <h5>[[[Where to find us?]]]</h5>
                    <div class="form-group">
                        <input type="hidden" id="LocSelectedName" name="LocSelectedName" value="@Model.UserAddInf.ProAdress , @Model.UserAddInf.ProTownZip , ile Maurice" />

                        <input type="hidden" id="LocationRefIDhidd" name="LocationRefID" value="@Model.UserAddInf.LocationRefID" />
                        <input type="hidden" id="Longitude" name="ProLongitude" value="@Model.UserAddInf.ProLongitude" />
                        <input type="hidden" id="Latitude" name="ProLatitude" value="@Model.UserAddInf.ProLatitude" />

                    </div>
                    <div style="width:100%" id="map-canvas"></div>
                </div>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>

<!-- ./ Main Content -->
@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgB8z009mHSrPLaJUobfgmI1gTlk1aqyc&libraries=places"></script>
    <script src="~/Scripts/TnTutils/GoogleMapsGeocode.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            initializeMapCanvas();
            //codeAddress();

        });

    </script>



}
